[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-localflavor = "*"
validate-docbr = "*"
django-bootstrap-v5 = "*"
flask = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
