{% extends 'core/base.html' %}

{% block content %}
<div class="row" id="corpo_da_listagem">
    <div class="col-sm-1"> </div>
    <div class="col-sm-10" id="">

        <div style="padding-top: 10px; padding-bottom: 10px;">
            <form method="GET">
                <div class="row">
 <div class="col">
                        <input class="form-control" type="text" name="nome_input" id="nome_input"
                            placeholder="Buscar por nome">
                    </div>

                    <div class=" col">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>

        <div style="padding-top: 10px; background-color: rgb(250, 252, 252);"></div>



        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>MENSAGEM</th>

                    <th>ACOES</th>

                </tr>
            </thead>
            <tbody>
                {% for msg in object %}
                <tr>
                    <td>{{ msg.id }}</td>
                    {% if msg.lido == True %}
                    <strong>
                        <td>{{ msg.nome}} </td>
                    </strong>
                    {% else %}
                    <td>{{ msg.nome}} </td>
                        {% endif %}
                    <td>{{ msg.mensagem }}</td>
                    <td> <a href="#" style="padding-right: 5px; padding-left: 5px;">
                            <i class="bi bi-pencil-square"></i> </a>
                        <a href="#"> <i class="bi bi-x-square"></i> </a>

                    </td>




                </tr>
                {% empty %}
                <li>Sem registros</li>
                {% endfor %}
            </tbody>
        </table>


        <hr>

        <a class="btn btn-primary" href="{% url 'add_doacoes' %}"><i class="bi bi-person-plus-fill"></i> Novo
            cadastro</a>

    </div>
    <div class=" col-sm-1"></div>

</div>

</div>



{% endblock content %}