{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-3 ">
  <div class="row">
    <div class="col-md-12">
      <p>
      <h4> Seja um doador, contribuinte na obra de Deus </h4>
      </p>
      <div style="text-align:justify;">

        Escolha a memlhor forma de contribuição


      </div>
    </div>
  </div>
  <br> <br>
  <hr>

  <div class="row">
    {% for doacoes in object %}
    <div class="col-md-4" style="padding:5px;">
      <div class="card" style="box-shadow: 0px 0px 4px black;">
        <div class="card-body" >

          <div id="galeria_cong">
            <strong>
           <h5> {{doacoes.descricao}} </h5> 
            </strong>
            <hr>
            {% if doacoes.chave_pix%}
            <strong> Titular: </strong> {{doacoes.titular}} <br>
            <strong> Chave pix: </strong> {{doacoes.chave_pix}}
            {% else%}
            <table style="text-align:left;">
              <tr>
                <td>
                  <strong> Titular: </strong>
                  {{doacoes.titular}}
                </td>
              </tr>

              <tr>
                <td>
                  <strong> Tipo conta: </strong>
                  {{doacoes.tipo_conta}}
                </td>
              </tr>

              <tr>
                <td>
                  <strong> Agência: </strong>
                  {{doacoes.agencia}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong> Conta: </strong>
                  {{doacoes.conta}}
                </td>
              </tr>

            </table>
            {% endif %}
          </div>
          <hr>
          <img src="{{doacoes.foto.url}}" alt="" style="width:100%; padding:5px;">
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}